body {
  font-family: $font_family;
  font-size: $font_size;
  line-height: $line_height;
  color: $primary_color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $font_weight_titles;
}

h1, h2 {
  font-size: $font_size * 1.5;
}

h2, h3 {
  margin-top: $margin_unit * 2;
  margin-bottom: $margin_unit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.clear-fix::after {
  @include clear-fix;
}

/* RESPONSIVE LAYOUT - Mobile First */

.container {
  width: $full_width;
  margin: 0 auto;
  padding: $padding_unit;
}

.row {
  width: $full_width;
}

.col {
  width: $full_width;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {
}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

  .container {
    padding: 0;
  }

  .row {
    @include display-flex;
  }
}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
