header {
  background-color: $primary_color;

  nav #nav-top {
    padding: $padding_unit / 2 0;

      ul {
        float: right;

        li {
        display: inline-block;
        margin-right: $margin_titles * 3;

        i {
          color: $nav_icons_color;
          font-size: $font_size + 1;
          padding-right: $padding_links;
        }

        a {
          color: $secondary_links_color;
          font-size: $font_size - 2;
          transition: all 0.25s;
        }

        a:hover {
          text-decoration: underline;
          color: $secondary_color;
        }

        select {
          font-size: $font_size - 2;
          color: $primary_color;
          border-radius: none;
          padding: 0 $padding_unit / 4;
        }
      }
    }
  }  // Closing Nav-top

  nav #nav-bottom {

    .container {
      @include display-flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .logo > a {
      max-width: 120px;
      display: block;
      padding: $padding_links $padding_unit - 5;

      img {
        width: 100%;
      }
    }

    .nav-menu-bottom {

      li {
        display: inline-block;
        font-weight: 300;

        a {
          display: inline-block;
          color: $secondary_color;
          padding: $padding_unit $padding_unit $padding_unit - 5;
        }

        a::after {
          content: '\f107';
          font-weight: bold;
          font-family: $font_awesome_after;
          margin-left: $margin_titles / 2;
          color: $secondary_links_color;
        }
      }
    }
  }  // Closing Nav-bottom
}
