// Colors
$primary_color: #000;
$primary_bg_color: #1e1e1e;
$links_color: #999;

// Font
$font_family: 'Noto Sans JP', sans-serif;
$font_size: 14px;
$font_weight_titles: 400;
$line_height: 1.5;

// Dimensions
$full_height: 100%;
$full_width: 100%;

// Margins
$margin_titles: 10px;

// Paddings
$padding_links: 8px;
$padding_footer: 20px;
